<div class="container text-center">
    <h1><strong>Daftar Pegawai</strong> </h1>
    {{#each employee}}
    <p>{{this.nama}}, {{this.nip}}, {{this.gender}}, {{this.gaji}}</p>
    {{/each}}
    {{#each emp}}
    <p>{{this.nama}}, {{this.nip}}, {{this.gender}}, {{this.gaji}}</p>
    {{/each}}
    {{emp.name}}
    </div>